@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500;900&display=swap');

*, *::after, *::before
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html
{
    height: 100%;
}

body
{
    display: flex;
    flex-flow: column nowrap;

    background-color: rgb(237, 238, 240);
    min-height: 100%;
}

#root
{
    flex-grow: 1;

    display: flex;
    flex-flow: column nowrap;
}

body, input, a, button
{
    font-family: 'Roboto', sans-serif;
}

.container
{
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
}

.content
{
    display: flex;
    flex-flow: column nowrap;

    flex-grow: 1;
}
