.header
{
    background-color: rgb(255, 143, 143);
}

.header > .container
{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center
}

.header__item
{
    text-align: center;
    flex-grow: 1;
    font-weight: bold;
    text-decoration: none;
    color: #FFFFFF;
    padding: 15px 35px;
    transition: 0.3s all;
}

.header__item:hover
{
    background-color: rgba(0,0,0, 0.3);
}
