.notes
{
    display: flex;
    flex-flow: column nowrap;

    align-items: center;
    flex-grow: 1;
    padding: 25px;
    background-color: #FFFFFF;
}

.notes__heading
{
    text-align: center;
    margin-bottom: 50px;
}

.note
{
    width: 100%;
    padding: 15px 25px;
    background-color: #fffacc;
}

.note__title
{
    margin: 15px 0;
    font-size: 23px;
}

.note__text
{
    opacity: 0.9;
    padding: 15px 25px;
}

.note__date
{
    font-style: italic;
    opacity: 0.7;
    margin: 15px 0;
    text-align: right;
}
